/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color:rgba(255, 141, 203, 1);
  --title-color:rgba(255, 194, 230, 1);
  --text-dark-color:rgba(53, 52, 48, 1);
  --page-color:rgba(255, 241, 247, 1);
  --main-text-color:rgba(53, 52, 48, 1);
  --btn-color:rgba(53, 52, 48, 1);
  --brn-hover-color:rgba(50, 49, 45, 0.4);
  --decor-color:rgba(255, 0, 112, 0);
  --card-title-color:rgba(53, 52, 48, 1);
  --decorated-color:rgba(53, 52, 48, 1);
}
@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color:rgba(255, 141, 203, 1);
  --title-color:rgba(255, 194, 230, 1);
  --text-dark-color:rgba(53, 52, 48, 1);
  --page-color:rgba(255, 241, 247, 1);
  --main-text-color:rgba(53, 52, 48, 1);
  --btn-color:rgba(53, 52, 48, 1);
  --btn-hover-color:rgba(50, 49, 45, 0.4);
  --decor-color:rgba(255, 0, 112, 0);
  --card-title-color:rgba(53, 52, 48, 1);
  --decorated-color:rgba(53, 52, 48, 1);
}
}